.content {
	max-width: 900px;
}

.homepage{
	max-width: 1200px;
}

.content a {
    border-bottom: 2px solid #02401B;
    box-shadow: inset 0 -2px 0 #02401B;
    background: transparent;
    transition: background 150ms ease;
    text-decoration: none;
}


.content a:hover,
.content a:focus {
  background: #A2A475;
}

.content a :visited {
	border-bottom: 2px solid #02401B;
    box-shadow: inset 0 -2px 0 #02401B;
    background: transparent;
    transition: background 150ms ease;
    text-decoration: none;
}